/* element part */

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar {
  font-weight: bold;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* class part */

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.big-head {
  font-family: "Montserrat", serif;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.5;
}

.container-fluid {
  padding: 5% 15%;
}

/* navigation bar */

.navbar {
  padding: 1rem 8rem 3rem 8rem;
  background-color: #ff414d;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 1.5rem;
  /* padding-right: 5px;
  padding-left: 5px; */
}

.navbar-brand img {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-item {
  padding: 0 20px;
  margin: 0 5px;
}

.nav-link {
  font-family: "Montserrat";
}

/* /////section color-background///// */
.colors-background {
  background-color: #ff414d;
  color: #fff;
}

.white-background {
  background-color: #fff;
}

/* ///// title section ///// */

#title .container-fluid {
  padding: 8% 15% 7%;
  text-align: left;
}

/* title image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 100px;
  position: absolute;
}

/* button download */

.button-download {
  margin: 3% 5% 3% 0;
}

/* /////feature section///// */
#features {
  position: relative;
}

.features-div {
  padding: 5% 5%;
}

.feature-img {
  color: #ff414d;
}

.feature-img:hover {
  color: #fecb89;
}

/* /////Testimonials section///// */
#testimonials {
  background-color: #f56a79;
}

.testimonials-img {
  width: 20%;
  border-radius: 100%;
  padding: 5px 10px;
}

/* ///// press section ///// */
#press {
  background-color: #f56a79;
}

.press-img {
  width: 15%;
  margin: 10px 20px;
}

/* /////pricing section///// */
.pricing-column {
  padding: 3% 4%;
}

/* /////footer section///// */
#footer {
  padding: 1.5% 15%;
}

.footer-icon {
  margin: 5px 5px;
}

/* /////media resposive///// */

@media (max-width: 960px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .button-download {
    margin: 3% 5% 3% 5%;
  }

  .column-Title {
    text-align: center;
    padding: 3% 5%;
  }

  .title-image {
    width: 60%;
    transform: rotate(0deg);
    /* margin-left: 100px; */
    padding-right: 80px;
    position: static;
  }
}
